body{
    border: 1px solid black;
}


#modal {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s linear 0.3s;
}

#modal.show {
    opacity: 1;
    visibility: visible;
    transition-delay: 0s;
}